<div class="card">
    <img [src]="producto.img" alt="">
    <h3>{{producto.name}}</h3>
    <h5>{{producto.price}}</h5>
    <button mat-raised-button color="warn" (click)="borrar()">Borrar</button>
</div>
