
.container-registerProduct{
    box-shadow: 2px 1px 18px 0px rgb(0 0 0 / 31%);
    padding: 15px;
    border-radius: 13px;
    width: 70%;
    
}
input{
    width: 100%;
 
}
.container-button{
    margin-bottom: 20px;
    text-align: right;
}
