
<h1>Agrega el producto</h1>
<hr>
<div class="container-button">
</div>
<form [formGroup]="forma" (ngSubmit)="guardar()">

    <div class="container-registerProduct">
        <h1>Form crud</h1>
        <h3>Actualizar: </h3>
        <mat-form-field appearance="fill">
            <mat-label >Select</mat-label>
            <mat-select [(value)]="selected" >
              <mat-option *ngFor="let product of producto1" [value]="product.id">{{product.name}}</mat-option>
            </mat-select>
        </mat-form-field>
          <br>
          <button type="button"  mat-raised-button color="primary" (click)="cargar(selected)">Cargar</button>
        <hr>
        <div class="form-group">
            <div *ngIf="selected">
                <label for="">Id product</label>
                <input formControlName="id"
                        type:number
                        placeholder="identificador producto"
                        [value]="productoObtenido.id"
                        [readonly] ="true"
                       >
            </div>
            <label>Nombre del producto: </label>
            <input  formControlName="name"
                    type:text
                    placeholder="Nombre producto"
                    [class.is-invalid]="productoNoValido"
                    [value]="productoObtenido.name"
                    >
                    <span *ngIf="productoNoValido" style="color: red;">
                        Ingrese nombre del producto!!!
                    </span>
        </div>
        <div class="form-group">
            <label>
                Precio del producto: </label>
            <input formControlName="price"
                    type:number
                    class="form-control"
                    placeholder="Precio producto"
                    [class.is-invalid]="precioNoValido"
                    [value]="productoObtenido.price"
                    name="price"
                    >
            <span *ngIf="precioNoValido" style="color: red;">
                Ingrese precio del producto!!!
            </span>
        </div>
        <div class="form-group">
            <label>Adjuntar imagen: </label>
            <input  type="file" id="archivo1"
                 formControlName="img"   
                 class="form-control"
            >
        </div>
        <hr>
        
        <div class="form-group text-center">
            <button type="submit" mat-raised-button color="primary">Guardar/Actualizar</button>
        </div>
    </div>
</form>
