<h1>Listado de productos</h1>
<hr>
<div class="container-card">
    <app-producto-tarjeta (selectedProducto)="borrar( $event )" [producto]="producto" [index]="i" *ngFor="let producto of products; let i= index" ></app-producto-tarjeta>
</div>
