<div>
    <mat-toolbar color="primary">
            <h1>App Products</h1>
          <div class="container-navigator">
            <a routerLink="productos">Productos</a>
            <a routerLink="producto/nuevo">(+) Agregar producto</a>
        </div>
    </mat-toolbar>
</div>

