.navbar{
    justify-content: space-between;
    margin-bottom:50px;
    
}
h1{
    font-size: 30px;
    font-weight: 500;
}

a{
   
    text-decoration: none;
    color: black;
    font-size: 18px;
    opacity: 90%;
    border: 1px solid white;
    border-radius: 13px;
    padding: 8px;
    background-color: white;
    margin-left: 20px;
    
    &:hover{
        background-color: black;
        color:white;
        border: 0px solid white;
    }
}
